div#area {
    font: normal 20pt verdana;
    background: greenyellow;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#area2 {
    font: normal 20pt verdana;
    background: greenyellow;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

div#area3 {
    font: normal 20pt verdana;
    background: greenyellow;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}